absl-py==1.1.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
altair==4.2.0
anime-downloader==5.0.18
anytree==2.8.0
apipkg==2.1.1
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.5
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.10.0
biscuits==0.3.0
bleach==5.0.0
blinker==1.4
breezy==3.2.1
Brlapi==0.8.3
btrfsutil==5.17
build==0.7.0
CacheControl==0.12.6
cachetools==5.2.0
cachy==0.3.0
cattrs==1.10.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
cfscrape==2.1.1
chardet==3.0.4
charset-normalizer==2.1.0
chart-studio==1.1.0
chrome-gnome-shell==0.0.0
cleo==0.8.1
click==8.1.3
clikit==0.6.2
cmdstanpy==0.9.5
colorama==0.4.4
coloredlogs==15.0.1
commonmark==0.9.1
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
convertdate==2.4.0
crashtest==0.3.1
cryptography==37.0.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.30
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.4
distro==1.7.0
docopt==0.6.2
docutils==0.16
emoji==1.7.0
entrypoints==0.4
ephem==4.1.3
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.5.0
Flask==2.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
fonttools==4.33.3
freegames==2.4.0
frozenlist==1.3.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.27
gnureadline==8.0.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.46.3
gunicorn==20.1.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.14.2
html5lib==1.1
httpstan==4.7.2
humanfriendly==10.0
icoextract==0.1.2
idna==2.10
imagesize==1.3.0
importlib-metadata==4.8.1
imutils==0.5.3
iniconfig==1.1.1
instagram-private-api==1.6.0.0
installer==0.5.1
ipykernel==6.15.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.4.0
keyutils==0.6
kiwisolver==1.4.3
korean-lunar-calendar==0.2.1
lark-parser==0.12.0
layoutswitcherlib==0.8.27
lazy-object-proxy==1.7.1
lensfun==0.3.3
LibAppArmor==3.0.4
libclang==14.0.1
libfdt==1.6.1
libtorrent==2.0.6
libvirt-python==8.4.0
lit==13.0.1.dev0
lockfile==0.12.2
louis==3.21.0
LunarCalendar==0.0.9
lxml==4.8.0
manjaro-sdk==0.1
Markdown==3.3.7
MarkupSafe==2.1.1
marshmallow==3.16.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.7.0
meson==0.62.1
mistune==0.8.4
more-itertools==8.12.0
msgpack==1.0.3
multidict==6.0.2
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netsnmp-python==1.0a1
nftables==0.1
notebook==6.4.12
npyscreen==4.10.5
numpy==1.21.6
oauthlib==3.2.0
opencv-python==4.5.4.60
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.2
pastel==0.2.1
patiencediff==0.2.2
patool==1.12
pefile==2021.9.3
pep517==0.12.0
pexpect==4.8.0
pickle-mixin==1.0.2
pickle5==0.0.11
pickleshare==0.7.5
Pillow==9.1.0
pkginfo==1.8.2
platformdirs==2.5.0
plotly==5.8.2
pluggy==1.0.0
ply==3.11
poetry==1.1.13
poetry-core==1.0.8
prettytable==0.7.2
progress==1.6
prometheus-client==0.14.1
prompt-toolkit==3.0.28
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
py==1.11.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pycups==2.0.1
pycurl==7.45.1
pydeck==0.7.1
pyflakes==2.4.0
pygame==2.1.2
Pygments==2.12.0
PyGObject==3.42.1
pylev==1.4.0
pylint==2.13.8
PyMeeus==0.5.11
Pympler==1.0.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.10.1
pyrsistent==0.18.1
PySide6==6.3.0
pysimdjson==3.2.0
pySmartDL==1.3.4
pysmbc==1.0.23
pystan==3.4.0
pytest==7.1.2
pytest-socket==0.5.0
python-dateutil==2.8.2
python-install==0.0.3
python-xlib==0.31
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==6.0
pyzmq==23.1.0
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
reportlab==3.6.9
requests==2.24.0
requests-cache==0.9.4
requests-mock==1.9.3
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resolvelib==0.5.5
responses==0.20.0
retrying==1.3.3
rgw==2.0.0
rich==12.4.4
rsa==4.8
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
SecretStorage==3.3.1
semver==2.13.0
Send2Trash==1.8.0
setuptools-git==1.2
shellingham==1.4.0
shiboken6==6.3.0
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.37
stack-data==0.2.0
streamlit==1.10.0
systemd-python==234
tabulate==0.8.9
TBB==0.2
team==1.0
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
timeout-decorator==0.5.0
tinycss2==1.1.1
tk==0.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
turtle==0.0.1
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
udiskie==2.4.2
ujson==5.3.0
uritools==4.0.0
url-normalize==1.4.3
urlextract==1.6.0
urllib3==1.25.11
validate==5.1.0.dev0
validators==0.20.0
vboxapi==1.0
virtualenv==20.11.0
watchdog==2.1.9
wcwidth==0.2.5
webargs==8.1.0
webencodings==0.5.1
Werkzeug==2.1.2
widgetsnbextension==3.6.0
wordcloud==1.8.1
wrapt==1.14.1
yarl==1.7.2
zipp==3.8.0
